
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href=" {{css}}" rel="stylesheet">
    <link rel="icon" type="image/png" href="assets/mds-logo.png" sizes="16x16">
    <script src="https://kit.fontawesome.com/45bfc94cb4.js" crossorigin="anonymous"></script>
    <title> {{siteTitle}}--{{pageTitle}} </title>
</head>