<footer>
    <div class="social-menu">
        {%- for item in social -%}
        <a href="{{ item.url }}" target="_blank"><i class="{{ item.icon }}"></i></a>
        {%- endfor -%}
    </div>
</footer>